{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"plugins": ["prettier-plugin-svelte"]
			}
		}
	]
}
