{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "plugins": ["prettier-plugin-svelte"]
      }
    }
  ]
}
