.button {
  max-height: 100%;

  margin: 0 0.7rem !important;

  svg,
  svg path {
    height: 1rem;
    width: 1rem;

    fill: var(--app-color-light-contrast) !important;

    position: relative;
  }
}
