.container {
  display: block;

  position: fixed;

  // 1.4 rem is the heigh of the header
  // 5.25 rem is the height of dock
  top: 1.4rem;
  height: calc(100vh - 5.25rem - 1.4rem);

  width: 200vw;
  left: -50vw;

  justify-self: center;
}
